<p id="notice"><%= notice %></p>

<p>
  <strong>Titular:</strong>
  <%= @noticium.titular %>
</p>

<p>
  <strong>Bajada:</strong>
  <%= @noticium.bajada %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @noticium.fecha %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @noticium.cuerpo %>
</p>


<p>
	<strong>Comentarios:</strong>
</p>
<table>
<% @noticium.comentarios.each do |comentario| %>
	<tr>
    <td><%= comentario.nombre %></td>
		<td><%= comentario.contenido %></td>
		<td><%= comentario.fecha %> </td>
	</tr>
 <% end %>
 </table>

<%= render 'comentario/form', comentario: @comentario %>


<%= link_to 'Back', noticia_path %>
